Source: zero-cache-utils
Section: main
Priority: extra
Maintainer: Ilya Shpigor <petrsum@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: zero-cache-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Utilities for the zero-cache caching system
